bjoern
git+git://github.com/HorsemanWSGI/horsebox.git#egg=horsebox
git+git://github.com/HorsemanWSGI/horseman.git#egg=horseman
git+git://github.com/HorsemanWSGI/roughrider.routing.git#egg=roughrider.routing
git+git://github.com/HorsemanWSGI/roughrider.predicate.git#egg=roughrider.predicate
git+git://github.com/HorsemanWSGI/roughrider.sqlalchemy.git#egg=roughrider.sqlalchemy
-e .
