bjoern
-e git+https://github.com/trollfot/horsebox.git#egg=horsebox
-e git+https://github.com/trollfot/horseman.git#egg=horseman
-e git+https://github.com/trollfot/roughrider.routing.git#egg=roughrider.routing
-e .
