bjoern
-e git+git://github.com/HorsemanWSGI/horsebox.git#egg=horsebox
-e git+git://github.com/HorsemanWSGI/horseman.git#egg=horseman
-e git+git://github.com/HorsemanWSGI/roughrider.routing.git#egg=roughrider.routing
-e .
